@charset "utf-8";

.controlHolder {
	width: 250px;
	position: relative;
	top: -100px;
	float: left;
}
.mapHolder {
	position: relative;
	top: -100px;
	float: right;
}

.control {
	width: auto;
	height: 100%;
	border-right: 1px solid black;
	border-top: 1px solid black;	
	background: #f9f9f9;
}

.map {
	width: auto;
	height: 100%;
	border-top: 1px solid black;
	background: #09C;
}
